body {
    background-color: lightblue;
    margin: 0; 
    padding: 0;
}

h1, header, h2, h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1px;
}

h2 {
    padding-top: 20px;
}

p, ul {
    text-align: center;
}

footer {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a {
    color: yellow;
}

a:visited {
    color: black;
}

.italic-text {
    font-style: italic;
}

#introduction-image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}


/*Laptops / Small Screens View*/
@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        width: 80%; 
    }
}

/*Tablet Devices View*/
@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 70%; 
    }
}

/*Mobile Devices View*/
@media screen and (min-width: 370px) and (max-width: 600px) {
    main {
        width: 90%;
    }
}

#surveyForm.custom-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#surveyForm.custom-form label {
    display: block;
    margin-bottom: 8px;
}

#surveyForm.custom-form input,
#surveyForm.custom-form textarea,
#surveyForm.custom-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#surveyForm.custom-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#surveyForm.custom-form button:hover {
    background-color: #45a049;
}

#surveyForm.custom-form input[type="checkbox"] {
    margin-right: 5px;
}

#surveyForm.custom-form #courseEntries {
    display: flex;
    align-items: center;
}

#surveyForm.custom-form .courseEntry {
    flex: 1;
    margin-bottom: 10px;
}

#surveyForm.custom-form .courseEntry + button {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#surveyForm.custom-form .courseEntry + button:hover {
    background-color: #d32f2f;
}

#formResults {
    margin-top: 20px;
}
