body {
    background-color: lightblue;
    margin: 0; 
    padding: 0;
}

h1, header, h2, h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1px;
}

h2 {
    padding-top: 20px;
}

p, ul {
    text-align: center;
}

footer {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a {
    color: yellow;
}

a:visited {
    color: black;
}

.italic-text {
    font-style: italic;
}

#introduction-image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}


/*Laptops / Small Screens View*/
@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        width: 80%; 
    }
}

/*Tablet Devices View*/
@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 70%; 
    }
}

/*Mobile Devices View*/
@media screen and (min-width: 370px) and (max-width: 600px) {
    main {
        width: 90%;
    }
}
